# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/


#/src/test/java/daoTest/GroupDaoTest.java
#/src/test/java/daoTest/UserDaoTest.java
#/src/test/java/dataTest/UserTestData.java
#/src/test/java/dataTest/GroupTestData.java